<div>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput id="friend-search" type="text" [formControl]="userInput">
  </mat-form-field>
  <div>
  </div>
  <mat-nav-list>
    @for(user of usersFound$ | async; track user.id) {
      <mat-list-item>
        <a matListItemTitle [routerLink]="['/app','user',user.username]" routerLinkeActive="active" ariaCurrentWhenActive="page">{{user.username}}</a>
        <span matListItemLine>{{user.firstName}} {{user.lastName}}</span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
