<div>
  <mat-form-field class="search-div-container">
    <mat-label>Search</mat-label>
    <input matInput id="friend-search" type="text" [formControl]="userInput">
  </mat-form-field>
  <div>
  </div>
  <mat-nav-list>
    @for(user of usersFound$ | async; track user.id) {
    <mat-list-item matListItemTitle [routerLink]="['/app','user',user.username]" routerLinkeActive="active">
        <span matListItemTitle>{{user.username}}</span>
        <span matListItemLine>{{user.firstName}} {{user.lastName}}</span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
