<div>
  <mat-toolbar>
    <a mat-icon-button [routerLink]="['/app','user', username]" routerLinkActive="activate">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/app','friends', 'search']" routerLinkActive="activate" ariaCurrentWhenActive="page">
      <mat-icon>people</mat-icon>
    </a>
    <span class="example-spacer">
    </span>
    <a mat-icon-button (click)="logout()" routerLink="/login" routerLinkActive="activate" ariaCurrentWhenActive="page">
      <mat-icon>logout</mat-icon>
    </a>
  </mat-toolbar>
  <div class="main-outlet-div">
    <router-outlet></router-outlet>
  </div>
</div>
