<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    Don't have an account?
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
  </div>
  <div>
    <div>
      <label for="">Email</label>
      <input type="text" formControlName="email">
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </div>
</form>
