<div>
  @if(user$ | async; as user) {
    <div>
      <span>{{user.username}}</span>
    </div>
    <div>
      <span>{{user.firstName}} {{user.lastName}}</span>
    </div>
    @if(!logged) {
      @if(followReq$ | async; as friendRequest) {
          <button (click)="deleteFriendRequest(friendRequest.id)">
            @if(friendRequest.used){
              Stop Following
            } @else {
              Cancel Follow Request
            }
          </button>
        } @else {
          <button (click)="sendFriendRequest(user.id)">Follow Request</button>
        }
    }
    <app-gift></app-gift>
  }
</div>
