<div>
  @if(user$ | async; as user) {
    <div>
      <span>{{user.username}}</span>
    </div>
    <div>
      <span>{{user.firstName}} {{user.lastName}}</span>
    </div>
    <div>

    </div>
    <div>
      @if(!logged) {
        @if(followReq$ | async; as fr) {
            <button (click)="deleteFriendRequest(fr.id)">
              @if(fr.used){
                Stop Following
              } @else {
                Cancel Follow Request
              }
            </button>
          } @else {
            <button (click)="sendFriendRequest(user.id)">Follow Request</button>
          }
      } @else {
        <button (click)="showForm = !showForm">Update Info</button>
        @if(showForm) {
          <app-edit-user [userToLoad]="user" (newUser)="updateUser($event)"></app-edit-user>
        }
      }
    </div>
    @if((followReq$ |async)?.used || logged){
      <app-gift></app-gift>
    }
  }
</div>
