<form [formGroup]="giftFormGroup">
  <div mat-dialog-content>
    <p>Gift</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input formControlName="location" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Url</mat-label>
      <input formControlName="name" type="text" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [disabled]="!giftFormGroup.valid" [mat-dialog-close]="giftFormGroup.getRawValue()" cdkFocusInitial>Ok</button>
  </div>
</form>


