<form [formGroup]="giftFormGroup">
  <div mat-dialog-content>
    <p>Gift</p>
    <div>
      <mat-form-field>
        <mat-label>Gift Name</mat-label>
        <input formControlName="name" type="text" matInput/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Physical Location</mat-label>
        <input formControlName="location" type="text" matInput/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Image Link/URL</mat-label>
        <input formControlName="imageUrl" type="text" matInput/>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [disabled]="!giftFormGroup.valid" [mat-dialog-close]="giftFormGroup.getRawValue()">Submit</button>
  </div>
</form>


