<div>
  <div>
    <h1 style="text-align:center;">Gifts List</h1>
    @if(isLogged) {
      <button mat-button (click)="openDialog(0)"><mat-icon>add</mat-icon></button>
    }
  </div>
  <mat-divider></mat-divider>
  <mat-list>
      @if((isFriend$ | async) || isLogged) {
        @for(gift of gifts$ | async; track gift.id) {
          <mat-list-item>
            <span matListItemTitle>{{ gift.name }}</span>
            <a matListItemLine>{{gift.location}}</a>
            <img matListItemAvatar [src]="gift.imageUrl" alt="gift image">
            <span>
              @if(isLogged) {
                <button mat-button (click)="openDialog(gift.id)"><mat-icon>repeat</mat-icon></button>
                <button mat-button (click)="removeGiftById(gift.id)"><mat-icon>delete</mat-icon></button>
              }
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
  </mat-list>
</div>
