<div>
  <ul>
    @if((isFriend$ | async) || isLogged) {
      @for(gift of gifts$ | async; track gift.id) {
      <li>
        <span>{{ gift.name }}</span>
        <div>
          <span><img [src]="gift.imageUrl" alt="Gift image" /></span>
          <span>{{ gift.location }}</span>
        </div>
        @if(isLogged) {
          <div>
            <button (click)="openDialog(gift.id)">Update</button>
            <button (click)="removeGiftById(gift.id)">Remove</button>
          </div>
        }
      </li>
      }
    }
  </ul>
  <div>
    @if(isLogged) {
      <button (click)="openDialog(0)">Add gift</button>
    }
  </div>
</div>
