<div>
  <ul>
    <li><a [routerLink]="['/app', 'friends', 'search']">Search</a></li>
    <li><a [routerLink]="['/app', 'friends', 'following']">Following</a></li>
    <li><a [routerLink]="['/app', 'friends', 'followers']">Followers</a></li>
  </ul>
  <div>
    <span>Follow Requests</span>
    <mat-nav-list>
      @for(req of followRequests$ | async; track req.id) {
      <mat-list-item>
        <a [routerLink]="['/app','user',req.requester.username]">{{req.requester.username}}</a>
        <button mat-icon-button (click)="useRequest(req.id)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteRequest(req.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
      }
    </mat-nav-list>
  </div>
  <router-outlet></router-outlet>
</div>
