<div>
  <ul>
    <li><a [routerLink]="['/app', 'friends', 'search']">Search</a></li>
    <li><a [routerLink]="['/app', 'friends', 'following']">Following</a></li>
    <li><a [routerLink]="['/app', 'friends', 'followers']">Followers</a></li>
  </ul>
  <div>
    <span>Follow Requests</span>
    <ol>
      @for(req of followRequests$ | async; track req.id) {
        <li>
          <a [routerLink]="['/app','user',req.requester.username]">{{req.requester.username}}</a>
          <div>
            <button (click)="useRequest(req.id)">Accept</button>
            <button (click)="deleteRequest(req.id)">Remove</button>
          </div>
        </li>
      }
   </ol>
     </div>
  <router-outlet></router-outlet>
</div>
